/* mostly derived from crossfilter's default example */

#charts {
  padding: 0 0;
}

.chart {
  display: inline-block;
  margin: 0 20px 20px;

}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #555;
}

.background.bar {
  fill: #ccc;
}

.dc-chart g.row text {
  fill: #333;
}

/*seasons pie chart*/
.dc-chart .pie-slice {
    fill: black;
    font-size: 10px;    
}

.axis path, .axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
  fill: #333;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.dc-chart-title {
  color: #333;
  font-weight: normal;
  font-style: italic;
}

.filter {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}

.imghelp {
  border-radius: 10px;
}