/* mostly derived from crossfilter's default example */

#charts {
  padding: 0 0;
}

/*https://coolors.co/2c1320-5f4b66-a7adc6-8797af-56667a*/
/*https://coolors.co/defffc-e2e4f6-e7c8dd-dbafc1-86626e*/
#div-config {
  font-weight: normal;
  color: #8a817c;
}

.chart {
  display: inline-block;
  margin: 0 20px 20px;

}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #555;
}

.background.bar {
  fill: #ccc;
}

.dc-chart g.row text {
  fill: #333;
}

/*seasons pie chart*/
.dc-chart .pie-slice {
    fill: black;
    font-size: 10px;    
}

.axis path, .axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
  fill: #333;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.dc-chart-title {
  color: #5b5b5b;
  font-weight: bold;
  font-style: italic;
}

.filter {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}

.imghelp {
  border-radius: 10px;
}

#message {
  font-size: 26px;
  font-weight: bold;
  color: #716450;
  border: 2px solid #787A76;
  padding: 15px;
  background-color: #D2C1A8;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 10;
}